<div class="backdrop" (click)="onCancel()"></div>

<dialog open class="bg-warning-subtle">
    <div class="container p-3">
        <h2>Add User</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <label class="col-sm-2" for="name">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control"
                        [(ngModel)]="enteredName"
                    >
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2" for="avatar">Avatar</label>
                <div class="col-sm-10">
                    <select type="text" name="avatar" class="form-control"
                        [(ngModel)]="enteredImgPath"
                    >
                    @for (avatar of avatars; track avatar.id) {
                        <option>{{avatar.imgPath}}</option>
                    }
                </select>
                </div>
            </div>
            <div>
                <button (click)="onSubmit()" class="btn btn-success">Create User</button>
            </div>
        
        </form>
    </div>
</dialog>