@if (isAddingTask) {
    <app-new-task [userId]="userId"
        (close)="onCloseAddTask()"
    ></app-new-task>
}

@if(!hidingTasks) {
    <section class="mt-2">
        <header class="p-3 text-center">
            <div class="row">
                <h2 class="col-sm-6">{{ name }}'s Tasks</h2>
                <div class="col-sm-6">
                    <button class="btn btn-success" (click)="onStartAddTask()">Add Task</button>
                </div>
            </div>
        </header>
    
        <div class="container">
            <div class="row p-3">
                @for (task of selectedUserTasks; track task.id) {
                        <div class="col-3">
                            <app-task [task]="task"></app-task>
                        </div>
                }
            </div>
        </div>
    </section>
}