@if (isAddingTask) {
    <app-new-task [userId]="userId"
        (close)="onCloseAddTask()"
    ></app-new-task>
}

@if(!hidingTasks) {
    <section class="bg-danger-subtle">
        <header>
            <h2>{{ name }}'s Tasks</h2>
            <menu>
                <button class="btn btn-success" (click)="onStartAddTask()">Add Task</button>
            </menu>
        </header>
    
        <div class="row bg-primary-subtle p-3">
            @for (task of selectedUserTasks; track task.id) {
                    <div class="col-3">
                        <app-task [task]="task"></app-task>
                    </div>
            }
        </div>
    </section>
}