<div class="mx-auto">
  <app-header></app-header>
  <main>
    @if (selectedUser) {
      <app-tasks
        [userId]="selectedUser.id"
        [name]="selectedUser.name"
      ></app-tasks>
      } @else {
      <p class="mt-2 h4 p-3 text-center">Select a User to View their tasks</p>
    }

      @if(!selectedUser) {
        <div class="container">
          <div class="row">
            @for (user of users; track user.id) {
              <div class="col-3">
                  <app-user
                    [user]="user"
                    (select)="onSelectUser($event)"
                    [selected]="user.id === selectedUserId"
                  >
                  </app-user>
              </div>
              }
          </div>
        </div>
      }

      @if(availableView[0] === 1) {

      }


  </main>
</div>
